In [10]:
from sklearn import svm
import pandas as pd
from sklearn.model_selection import *
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import *
from sklearn.metrics import *

In [11]:
df=pd.read_csv('emails.csv')
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [12]:
x=df.drop(["Prediction","Email No."],axis=1)
y=df["Prediction"]

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [16]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [17]:
model = svm.SVC()
model.fit(x_train,y_train)

SVC()

In [18]:
# Predicting the test set results
y_pred = model.predict(x_test)

cm = confusion_matrix(y_test,y_pred)
ac = accuracy_score(y_test,y_pred)
print("confusion matrix:\n", cm)
print("Accuracy score is", ac)

confusion matrix:
 [[718   4]
 [ 62 251]]
Accuracy score is 0.936231884057971

### KNN

In [19]:
knn = KNeighborsClassifier(9)

In [20]:
knn.fit(x_train,y_train)
y_pred_knn = knn.predict(x_test)
cm1 = confusion_matrix(y_test, y_pred_knn)
ac1 = accuracy_score(y_test, y_pred_knn)

In [21]:
print("confusion matrix:\n", cm1)
print("Accuracy score is", ac1)

confusion matrix:
 [[517 205]
 [ 13 300]]
Accuracy score is 0.7893719806763285